<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Jeopardy!</h2>

<table style="width:100%">
  <tr>
    <th>Math</th>
    <th>CompSci</th>
    <th>Ireland</th>
    <th>Sports</th>
    <th>Literature</th>
    <th>Video Games</th>
    <th>Science</th> 
  </tr>
  <tr>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>$200</td>
    <td>$200</td>
    <td>$200</td>
    <td>$200</td>
    <td>$200</td>
    <td>$200</td>
    <td>$200</td>
  </tr>
  <tr>
    <td>$300</td>
    <td>$300</td>
    <td>$300</td>
    <td>$300</td>
    <td>$300</td>
    <td>$300</td>
    <td>$300</td>
  </tr>
  <tr>
    <td>$400</td>
    <td>$400</td>
    <td>$400</td>
    <td>$400</td>
    <td>$400</td>
    <td>$400</td>
    <td>$400</td>
  </tr>
  <tr>
    <td>$500</td>
    <td>$500</td>
    <td>$500</td>
    <td>$500</td>
    <td>$500</td>
    <td>$500</td>
    <td>$500</td>
  </tr>
  <tr>
    <td>$600</td>
    <td>$600</td>
    <td>$600</td>
    <td>$600</td>
    <td>$600</td>
    <td>$600</td>
    <td>$600</td>
  </tr>
  <tr>
    <td>$700</td>
    <td>$700</td>
    <td>$700</td>
    <td>$700</td>
    <td>$700</td>
    <td>$700</td>
    <td>$700</td>
  </tr>
</table>

<p>This is where the secon table with player's money goes.</p>

</body>
</html>